<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:insert="~{layout/head :: head}"></th:block>
        <link rel="stylesheet" th:href="@{/css/sub.css}">
        <title th:text="${'T셀파::' + titleName}"></title>
    </head>
    <body>

        <th:block th:insert="~{layout/header :: header}"></th:block>

        <div class="container-fluid pt-5 bg-primary hero-header mb-5">
            <div class="container py-5">
                <div class="align-self-center text-center ">
                    <h1 class="text-white mb-4" th:text="${'T셀파' + titleName}"></h1>
                    <p class="text-white">여러 가지 정보를 확인하세요.</p>
                </div>
            </div>
        </div>

        <!-- content -->
        <section class="container is-fullhd py-5">
            <h2 class="text-center mb-5" th:text="${titleName}"></h2>

            <div class="row justify-content-md-end mb-5">
                <div class="col-md-4 searchArea">
                    <form th:action="@{/board/list.do}" method="get" class="field has-addons has-addons-right">
                        <input type="hidden" name="no" th:value="${boardMgn.bmNo }" />
                        <div class="input-group">
                            <div class="input-group-append">
                                <select id="inputState" name="type" class="form-control rounded-0 border-right-0">
                                    <option value="title" th:selected="${type eq 'title'}">제목</option>
                                    <option value="user_name" th:selected="${type eq 'user_name'}">이름</option>
                                </select>
                            </div>
                            <input type="text" class="form-control" id="keyword" name="keyword" placeholder="검색어를 입력하세요" th:value="${keyword}" aria-label="Recipient's username" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary rounded-0" type="submit">검색</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div th:if="${boardList ne ''}" class="d-flex flex-column align-items-center justify-content-center">
                <table class="table mb-5">
                    <colgroup>
                        <col style="width:5%;">
                        <col style="width:auto;">
                        <col style="width:15%;">
                        <col style="width:20%;">
                        <col style="width:5%;">
                    </colgroup>
                    <thead>
                    <tr>
                        <th class="text-center" scope="col">#</th>
                        <th class="text-center" scope="col">제목</th>
                        <th class="text-center" scope="col">작성자</th>
                        <th class="text-center" scope="col">등록일</th>
                        <th class="text-center" scope="col">조회수</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="board : ${boardList}">
                        <td class="text-center" th:text="${boardStat.count}"></td>
                        <td>
                            <a th:href="${'/board/get.do?bno=' + board.bno }" th:text="${board.title}"></a>
                        </td>
                        <td class="text-center" th:text="${board.userName}"></td>
                        <td class="text-center" th:text="${board.resDate}"></td>
                        <td class="text-center" th:text="${board.visited}"></td>
                    </tr>
                    </tbody>
                </table>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li th:if="${page.curPageNum > page.pageCount}" class="page-item">
                            <a class="page-link" th:href="@{/board/list.do(no=${boardMgn.bmNo}, page=${page.blockStartNum + 1}, type=${type}, keyword=${keyword})}" aria-label="Previous"><span aria-hidden="true">«</span><span class="sr-only">Previous</span></a>
                        </li>
                        <li th:each="i : ${#numbers.sequence(page.blockStartNum, page.blockLastNum)}">
                            <a th:if="${page.curPageNum == i}" th:href="@{/board/list.do(page=${i}, type=${type}, keyword=${keyword})}" th:text="${i}" class="page-item active"></a>
                            <a th:if="${page.curPageNum != i}" th:href="@{/board/list.do(page=${i}, type=${type}, keyword=${keyword})}" th:text="${i}" class="page-item"></a>
                        </li>
                        <li th:if="${page.blockLastNum < page.totalPageCount}" class="page-item">
                            <a class="page-link" th:href="@{/board/list.do(no=${boardMgn.bmNo}, page=${page.blockLastNum - 1}, type=${type}, keyword=${keyword})}" aria-label="Next"><span aria-hidden="true">»</span><span class="sr-only">Next</span></a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div th:if="${boardList eq ''}" class="text-center mt-5">
                <h5 class="font-weight-bold" style="line-height:40vh;">등록된 게시글이 없습니다.</h5>
            </div>

            <div class="btn-group d-block text-lg-end mt-3" th:if="${addCheck == true}">
                <a th:href="${'/board/add.do?no=' + boardMgn.bmNo }" class="btn btn-primary">등록하기</a>
            </div>
        </section>
        <!-- content -->

        <th:block th:insert="~{layout/footer :: footer}"></th:block>
        <script th:src="@{/js/sub.js}"></script>
    </body>
</html>