<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:insert="~{layout/head :: head}"></th:block>
        <link rel="stylesheet" th:href="@{/css/sub.css}">
        <link rel="stylesheet" th:href="@{/clEditor/jquery.cleditor.css}">
        <title th:text="${'T셀파::' + titleName}"></title>
    </head>
    <body>

        <th:block th:insert="~{layout/header :: header}"></th:block>

        <div class="container-fluid pt-5 bg-primary hero-header mb-5">
            <div class="container py-5">
                <div class="align-self-center text-center ">
                    <h1 class="text-white mb-4" th:text="${'T셀파' + titleName}"></h1>
                    <p class="text-white">여러 가지 정보를 확인하세요.</p>
                </div>
            </div>
        </div>

        <!-- content -->
        <section class="container is-fullhd py-5">
            <h2 class="text-center mb-5" th:text="${titleName + ' 수정하기'}"></h2>
            <form th:action="@{/board/update.do}" method="post" enctype="multipart/form-data">
                <input type="hidden" name="bno" th:value="${board.bno }" />
                <div class="form-group row mb-3">
                    <label for="title" class="col-sm-2 col-form-label">제목</label>
                    <div class="col-sm-10">
                        <input type="text" placeholder="제목을 입력하세요." class="form-control" id="title" name="title" th:value="${board.title}" required />
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <label for="content" class="col-sm-2 col-form-label">내용</label>
                    <div class="col-sm-10">
                        <textarea name="content" id="content" class="form-control" rows="8" cols="100" maxlength="1400" th:text="${board.content}" required></textarea>
                    </div>
                </div>
                <div class="form-group row mb-3" th:if="${board.fileUse}">
                    <label class="col-sm-2 col-form-label">파일 업로드<span class="d-inline pt-0 px-0" style="vertical-align: top;" onclick="addFile()">(<i class="fas fa-plus px-1"></i>)</span><br />(10MB 이하)</label>
                    <div class="col-sm-10 file_area" style="vertical-align:middle;">
                        <p th:each="files : ${fileList}" th:id="${'files' + filesStat.count}"><span th:text="${files.originName}"></span><button type="button" class="btn px-2 py-0 ml-2" th:data-num="${filesStat.count}" th:data-fno="${files.fno}" onclick="removeFiles(this)" style="font-size:0.8rem;">삭제</button></p>
                        <input type="file" class="form-control uploadFiles" name="uploadFiles" id="formFileMultiple" multiple>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12 text-lg-end text-end">
                        <a th:href="${'/board/get.do?bno=' + board.bno}" class="btn btn-success">취소</a>
                        <button type="submit" class="btn btn-primary">수정하기</button>
                    </div>
                </div>
            </form>
            <script type="text/javascript" th:src="@{/clEditor/jquery.cleditor.js}"></script>
            <script>
                $(document).ready(function() {
                    $("#content").cleditor();
                });

                /*$(function() {
                    let token = $("meta[name='_csrf']").attr("content");
                    let header = $("meta[name='_csrf_header']").attr("content");

                    $(document).ajaxSend(function(e, xhr, options) {
                        xhr.setRequestHeader(header, token);
                    });
                });*/

                function addFile() {
                    let num = $(".uploadFiles").length + 1;
                    $(".file_area").append("<input type='file' class='form-control uploadFiles mt-2' name='uploadFiles' id='uploadFiles" + num + "' multiple>");
                }

                function removeFiles(files) {
                    let fno = files.getAttribute('data-fno');
                    let cnt = files.getAttribute('data-num');
                    if(!confirm("해당 파일을 삭제하시겠습니까?")) {return false;}

                    let params = {"fno" : parseInt(fno)};
                    $.ajax({
                        url:"/util/fileRemove.do",
                        type:"post",
                        data:params,
                        success : function(result) {
                            if(result === true) {
                                $("#files" + cnt).remove();
                            }
                        },
                    });
                }
            </script>
        </section>
        <!-- content -->

        <th:block th:insert="~{layout/footer :: footer}"></th:block>
        <script th:src="@{/js/sub.js}"></script>
    </body>
</html>