<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:insert="~{layout/head :: head}"></th:block>
        <link rel="stylesheet" th:href="@{/css/sub.css}">
        <title>T셀파::채팅방</title>
    </head>
    <body>

        <th:block th:insert="~{layout/header :: header}"></th:block>

        <div class="container-fluid pt-5 bg-primary hero-header mb-5">
            <div class="container py-5">
                <div class="align-self-center text-center ">
                    <h1 class="text-white mb-4">나의 채팅방</h1>
                    <p class="text-white">상품관련 채팅방입니다.</p>
                </div>
            </div>
        </div>

        <!-- content -->
        <table class="table">
            <tbody>
                <tr th:each="room : ${roomList}">
                    <td><a th:href="@{/chat/getChat.do/{roomId}(roomId=${room.getRoomId()})}" th:text="${room.getUserName() + '님과의 채팅'}"></a></td>
                </tr>
            </tbody>
        </table>
        <!-- content -->

        <th:block th:insert="~{layout/footer :: footer}"></th:block>
        <script th:src="@{/js/sub.js}"></script>
    </body>
</html>