<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">
    <th:block layout:fragment="content">
        <section class="hero is-success is-halfheight">
            <div class="hero-body">
                <div class="container is-fullhd has-text-left">
                    <p class="title">
                        T셀파 중고 서적
                    </p>
                    <p class="subtitle">
                        여러 가지 정보를 확인하세요.
                    </p>
                </div>
            </div>
        </section>
        <section class="container is-fullhd">
            <h2 class="has-text-centered is-size-2 my-5">메인페이지 정보</h2>
        </section>
    </th:block>
</html>