<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="footerFragment">
        <footer class="footer py-5">
            <div class="content has-text-centered">
                <p>
                    <strong>T셀파</strong> by <a href="https://github.com/soumunda8">novah</a>.<br />
                    The source code is licensed <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.<br />
                    The website content is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
                </p>
            </div>
        </footer>
    </th:block>
</html>