<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="headFragment">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=dege"> <!-- 인터넷익스프로러로 접근시 엣지로 연결되게 함 -->
        <meta http-equiv="Author" content="T셀파 콘텐츠 제작팀">
        <meta http-equiv="Publisher" content="T셀파 제작자">
        <meta http-equiv="Copyright" content="Copyright@haebeop.ed.kr">
        <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
        <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>

        <!-- 검색엔진 최적화(SEO:Search Engeen) -->
        <meta name="Subject" content="T셀파">
        <meta name="Keyword" content="T셀파, 커뮤니티">
        <meta name="Description" content="T셀파의 커뮤니티">
        <meta name="Robots" content="index, follow">

        <!-- 오픈그래프 -->
        <meta property="og:type" content="website">
        <meta property="og:title" content="T셀파">
        <meta property="og:description" content="앞선 생각으로 더 큰 미래의 교육을 준비하는 기업">
        <meta property="og:image" content="https://soumunda8.github.io/web04/images/haebeop_logo.png">
        <meta property="og:url" content="https://soumunda8.github.io/web04">

        <!-- 기타설정 -->
        <!-- 트위터 -->
        <meta name="twitter:card" content="picture">
        <meta name="twitter:title" content="T셀파">
        <meta name="twitter:description" content="앞선 생각으로 더 큰 미래의 교육을 준비하는 기업">
        <meta name="twitter:image" content="https://soumunda8.github.io/web05/images/tsherpa_logo.png">

        <!-- 파비콘 설정 :32X32 자주 사용 -->
        <!-- 표준 파비콘 -->
        <link rel="shortcut icon" th:href="@{/image/common/logo.ico}">
        <!-- 애플 계열 모바일 -->
        <link rel="apple-touch-ico-precomposed" th:href="@{/image/common/logo_64.png}">

        <!-- 파이어폭스, 오페라 또는 구형 크롬/사파리 -->
        <link rel="icon" th:href="@{/image/common/logo_32.png}" sizes="32x32">
        <link rel="icon" th:href="@{/image/common/logo_48.png}" sizes="48x48">
        <link rel="icon" th:href="@{/image/common/logo_64.png}" sizes="64x64">

        <link rel="stylesheet" th:href="@{/css/common.css}">
        <link rel="stylesheet" th:href="@{/css/all.css}">
        <link rel="stylesheet" th:href="@{/css/bulma.min.css}">
        <link th:if="${pageType eq 'main'}" rel="stylesheet" th:href="@{/css/main.css}">
        <link th:if="${pageType eq 'sub'}" rel="stylesheet" th:href="@{/css/sub.css}">

        <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
        <script th:src="@{/js/common.js}"></script>
        <script th:if="${pageType eq 'main'}" th:src="@{/js/main.js}"></script>
        <script th:if="${pageType eq 'sub'}" th:src="@{/js/sub.js}"></script>

        <title th:text="${'T셀파::' + titleName}"></title>
    </th:block>
</html>