<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <th:block th:fragment="headerFragment">
        <div class="container is-fullhd">
            <header class="header">
                <nav class="navbar is-transparent">
                    <div class="navbar-brand">
                        <a class="navbar-item" href="/">
                            <img th:src="@{/image/common/logo.png}" alt="Bulma: a modern CSS framework based on Flexbox" width="84" height="28">
                        </a>
                        <div class="navbar-burger" data-target="navbarExampleTransparentExample">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>

                    <div id="navbarExampleTransparentExample" class="navbar-menu">
                        <div class="navbar-start">
                            <a class="navbar-item" href="/">Home</a>
                            <div class="navbar-item has-dropdown is-hoverable board_drop_menu">
                                <a class="navbar-link" href="#">커뮤니티</a>
                                <div class="navbar-dropdown is-boxed" id="boardMenuArea"></div>
                            </div>
                        </div>

                        <div class="navbar-end">
                            <div sec:authorize="isAnonymous()" class="navbar-item">
                                <div class="field is-grouped">
                                    <p class="control">
                                        <a class="button" href="/user/login.do">
                                            <span class="icon"><i class="fas fa-user-circle"></i></span>
                                            <span>로그인</span>
                                        </a>
                                    </p>
                                    <p class="control">
                                        <a class="button is-success" href="/user/registration.do">
                                            <span class="icon"><i class="fas fa-user-plus"></i></span>
                                            <span>회원가입</span>
                                        </a>
                                    </p>
                                </div>
                            </div>
                            <div sec:authorize="isAuthenticated()" class="navbar-item">
                                <div class="field is-grouped">
                                    <p class="control">
                                        <a class="button" th:href="@{/logout.do}">
                                            <span class="icon"><i class="fas fa-user-circle"></i></span>
                                            <span>로그아웃</span>
                                        </a>
                                    </p>
                                    <p sec:authorize="hasRole('USER') || hasRole('TEACHER') || hasRole('EMP')" class="control">
                                        <a class="button is-success" href="#">
                                            <span class="icon"><i class="fas fa-user-plus"></i></span>
                                            <span>마이페이지</span>
                                        </a>
                                    </p>
                                    <p sec:authorize="hasRole('EMP')" class="control">
                                        <a class="button" th:href="@{/emp/home.do}">
                                            <span class="icon"><i class="fas fa-users-cog"></i></span>
                                            <span>직원 홈페이지</span>
                                        </a>
                                    </p>
                                    <p sec:authorize="hasRole('ADMIN')" class="control">
                                        <a class="button is-success" th:href="@{/admin/home.do}">
                                            <span class="icon"><i class="fas fa-users-cog"></i></span>
                                            <span>관리자 홈페이지</span>
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </header>
        </div>
        <script>

            let token = $("meta[name='_csrf']").attr("content");
            let header = $("meta[name='_csrf_header']").attr("content");

            $(document).ajaxSend(function(e, xhr, options) {
                xhr.setRequestHeader(header, token);
            });

            $(function (){
                $.ajax({
                    url:"/board/getBoardMgnList.do",
                    type:"post",
                    contentType:"application/json",
                    success : function(result) {
                        if(result == "") {
                            $(".board_drop_menu").remove();
                        }
                        for(let i in result) {
                            $("#boardMenuArea").append("<a class='navbar-item' href='/board/list.do?no=" + result[i].bmNo + "'>" + result[i].boardName + "</a>");
                        }
                    },
                });
            });
        </script>
    </th:block>
</html>