<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <th:block th:replace="layout/head :: headFragment"></th:block>
</head>
    <body>
        <div th:id="${pageType + 'Layout'}">
            <th:block th:replace="layout/header :: headerFragment"></th:block>
            <th:block layout:fragment="content"></th:block>
            <th:block th:replace="layout/footer :: footerFragment"></th:block>
        </div>
    </body>
</html>